.btn-group {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px;
  color: red;
}

.bg-special {
  background: burlywood;
  padding: 4.5px;
  font-style: italic;
}
