.cell-wrapper {
  border: 2px solid black;
  font-size: 20px;
  padding: 25px;
  border-right: none;
  border-bottom: none;
}

.generated-cell {
  color: red;
}

.blank-cell {
  visibility: hidden;
}

.cell-wrapper:first-child {
  border-left: 5px solid black;
}
.cell-wrapper:nth-child(3n + 3) {
  border-right: 3px solid black;
}

.cell-wrapper:last-child {
  border-right: 5px solid black;
}

.bold-top-cell {
  border-top: 5px solid black;
}

.bold-bottom-cell {
  border-bottom: 5px solid black !important;
}

/* .cell-wrapper:nth-child() {
  border-top: 4px solid black;
} */

@media only screen and (max-width: 600px) {
  .cell-wrapper {
    padding: 12px;
    font-size: 10px;
  }
}
